service tone3000_root /system/bin/sh /system/bin/tone3000-root-service.sh service
    class late_start
    user root
    group root audio
    seclabel u:r:su:s0
    setenv TONE3000_SELINUX_PERMISSIVE 1

on property:sys.boot_completed=1
    start tone3000_root
